/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  --cosmic: #85586F;
  --lavender_blush: #F9F5F6;
  --chantilly: #F2BED1;
  --amour: #F8E8EE;

  --common-font: "Poiret One", sans-serif;
  --main-font: "Cormorant Garamond", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 600;
}

/* Sekcija */
#review-form {
  padding: 60px 20px;
  background: var(--lavender_blush);
  font-family: var(--main-font);
  text-align: center;
}

#review-form h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: var(--cosmic);
  font-family: var(--common-font);
  letter-spacing: 1px;
}

/* Forma */
#sendReview {
  max-width: 500px;
  margin: 0 auto;
  background: var(--amour);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
}

#sendReview label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--cosmic);
  font-family: var(--common-font);
}

#sendReview input,
#sendReview select,
#sendReview textarea {
  width: 100%;
  padding: 12px;
  font-size: 0.95rem; 
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--chantilly);
  background: #fff;
  font-size: 1rem;
  font-family: var(--main-font);
  color: #333;
}

#sendReview textarea {
  height: 120px;
  resize: none;
}

/* Dugme */
#sendReview button {
  width: 100%;
  padding: 14px;
  background: var(--cosmic);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: var(--common-font);
  cursor: pointer;
  transition: 0.3s ease;
}

#sendReview button:hover {
  background: #6d4357;
}

#thankYouMessage {
    display: none;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 40px;
    animation: fadeIn 0.6s ease-out forwards;
  }
  
  #thankYouMessage h2 {
    color: #AC7D88;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  #thankYouMessage p {
    font-size: 18px;
    color: #444;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }

/* RESPONSIVE */
@media (max-width: 600px) {
  #review-form {
    padding: 40px 15px;
  }

  #sendReview {
    padding: 20px;
  }

  #review-form h2 {
    font-size: 1.8rem;
  }

  #sendReview button {
    font-size: 1.1rem;
  }

  #sendReview select option {
    width: 40%;
  }
}

